---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/stores(area(80202,25))?apiKey=6tmxnbn286qhnt4act7h3tt8&format=json&show=city,longName,distance,phone,storeType
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"from":1,"to":10,"currentPage":1,"total":17,"totalPages":2,"queryTime":"0.009","totalTime":"0.022","partial":false,"canonicalUrl":"/v1/stores(area(\"80202\",25))?show=city,longName,distance,phone,storeType&format=json&apiKey=6tmxnbn286qhnt4act7h3tt8","stores":[{"city":"Denver","longName":"BEST
        BUY MOBILE - CHERRY CREEK SHOPPING CENTER","distance":3.45,"phone":"303-270-9189","storeType":"Mobile
        SAS"},{"city":"Lakewood","longName":"BEST BUY - BELMAR","distance":5.31,"phone":"303-742-8039","storeType":"Big
        Box"},{"city":"Denver","longName":"BEST BUY - COLORADO BLVD","distance":5.59,"phone":"303-758-5805","storeType":"Big
        Box"},{"city":"Lakewood","longName":"BEST BUY - DENVER WEST","distance":8.39,"phone":"303-273-5617","storeType":"Big
        Box"},{"city":"Westminster","longName":"BEST BUY - WESTMINSTER","distance":8.52,"phone":"303-426-4434","storeType":"Big
        Box"},{"city":"Denver","longName":"BEST BUY - NORTHGLENN","distance":9.14,"phone":"303-252-8677","storeType":"Big
        Box"},{"city":"Aurora","longName":"BEST BUY MOBILE - TOWN CENTER AT AURORA","distance":9.73,"phone":"303-326-0848","storeType":"Mobile
        SAS"},{"city":"Aurora","longName":"BEST BUY - AURORA","distance":9.79,"phone":"303-338-5797","storeType":"Big
        Box"},{"city":"Lakewood","longName":"BEST BUY - LITTLETON","distance":10.44,"phone":"303-932-7830","storeType":"Big
        Box"},{"city":"Centennial","longName":"BEST BUY - SOUTHGLENN","distance":11.02,"phone":"303-797-3246","storeType":"Big
        Box"}],"warnings":"Distances are in terms of miles (default)"}'
  recorded_at: Wed, 26 Jul 2017 17:55:29 GMT
recorded_with: VCR 3.0.3
